POSTGRES_DB=nextcloud
POSTGRES_USER=nextcloud
POSTGRES_PASSWORD=CHANGE_ME

REDIS_PASSWORD=CHANGE_ME

NEXTCLOUD_ADMIN_USER=admin
NEXTCLOUD_ADMIN_PASSWORD=CHANGE_ME
NEXTCLOUD_TRUSTED_DOMAINS=localhost 54.90.244.220

TRUSTED_PROXIES=172.16.0.0/12
OVERWRITEHOST=YOUR_EC2_PUBLIC_IP_OR_DOMAIN
OVERWRITEPROTOCOL=http
